ul{
    list-style: none;
}

.menu__inner_list{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  transition: clip 0.5s;
  padding: 3px;
  border: solid 2px;
  border-radius: 5px;
  z-index: 5;
  background: #fff;
  top: 45px;
  left: 0;
}


.menu__inner_item_list{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  transition: clip 0.5s;
  padding: 3px;
  border: solid 2px;
  border-radius: 5px;
  z-index: 5;
  background: #fff;
  top: 45px;
  left: 30px;
}

.show{
    clip:auto;
}